<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.udacity.gradle.jokerandroidlibrary">

    <application>
        <activity android:name="com.udacity.gradle.jokerandroidlibrary.DisplayJokeActivity"></activity>
    </application>

</manifest>